@import 'constants';
@import 'index';
@import 'contact-person';
@import 'contact-form';
@import 'footer';
@import 'navbar';
@import 'chat';
@import 'services';
@import 'articles';

@import '/bootstrap/bootstrap-grid.scss';

body {
  margin: 0;
  background-color: #232425;
}

h1, h2, h3, h4, h5, h6, p, a, label, span, ul, ol, li, code, figcaption {
  color: $white-color;
  font-weight: normal;
}

h1, h2, h3, label, .mono, strong, th, code {
  font-family: "IBM Plex Mono", monospace;
}

p, ul, ol, li, td, figcaption {
  font-family: "Open Sans", Helvetica, sans-serif;
}

h2, h3 {
  margin: 1.5rem 0 1.15rem;
}

strong {
  font-size: 1.1rem;
}

code {
  font-size: 0.6rem;
}

figure {
  margin: 0;
}

a, .navlink {
  &:hover {
    color: $blue-color;
    transition: 0.1s;
  }
}

.container {
  max-width: 768px;
}

.privacy-policy {
  margin-top: 4rem;
}

.hero {
  h1 {
    margin-top: 8rem;
    text-align: center;
    font-size: $responsive-font-medium;
  }
  .hero-background {
    height: 35vh;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}

.content {
  margin-top: 6rem;
  .indented {
    p {
      margin-left: 2rem;
    }
  }
}

table {
  td, th {
    color: $white-color;
    text-align: left;
  }
  td:first-of-type {
    width: calc(65%);
  }
  tr {
    border-bottom: 1px solid $white-color;
  }
}