<section class="chat" id="chat">
  <div class="bubble">
    <div class="title">
      <p>Ota yhteyttä</p>
      <button onclick="chat()" aria-label="Sulje chat" class="close-button">
        <img src="images/cross.svg" alt="Chat">
      </button>
    </div>
    <img src="images/parsta.jpg" aria-label="Pärstä" class="parsta">
    <div class="speech">
      <p>
        Jere täällä moro! Olen se kaveri, joka pyörittää tätä puljua. Jos sähköposti on liian hidas kommunikointikanava niin valitse alta suosikkipikaviestimesi ja laita viestiä!
      </p>
      <p>P. 045 866 4303</p>
    </div>
    <div class="social-media-buttons">
      <a href="/" aria-label="Whatsapp" id="whatsapp" target="_blank" rel="noreferrer noopener">
        <img src="images/whatsapp.svg">
      </a>
      <a href="/" aria-label="Telegram" id="telegram" target="_blank" rel="noreferrer noopener">
        <img src="images/telegram.svg">
      </a>
    </div>
  </div>
  <button onclick="chat()" aria-label="Avaa chat" class="chat-button">
    <img src="images/chat.svg" alt="Chat">
  </button>
</section>