<section class="services">
  <div class="container">
    <h2>{{ .Params.serviceTitle }}</h2>
    {{ range .Params.serviceList }}
    <a href="palvelut/{{ .link }}">
      <div class="row service">
        <div class="col-md-3 service-left">
          <h2>{{ .title }}</h2>
          <img class="service-image" src="{{ .image }}" alt="{{ .alt }}">
        </div>
        <div class="col-md-9">
          <h3>{{ .subTitle }}</h3>
          <p>{{ .description }}</p>
          <span>Lue lisää -></span>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</section>